/* GLOBAL SETTINGS */
/*=================*/

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

html {
    height: 100%;
}


/* FONT STYLE */
/*============*/

h1, h2, h3, h4, th {
    font-family: 'Fuzzy Bubbles', cursive;
}

h1 {
    font-size: 8.0rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 1.8rem;
}

th {
    font-size: 2.4rem;
    text-align: left;
}

p, a, label, input, textarea, li, td, button {
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
}

/* LAYOUT */
/*========*/

body {
    font-size: 3.8rem;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 100px;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* SECTIONS */
/*==========*/

/*--Main sections --*/
header {
    grid-area: header;
    width: 100%;
    padding: 2rem;
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.header-wrapper {
    padding: 1px;
    background: linear-gradient(to right, rgba(107, 164, 75, 0), #6BA44B);
    height: 66.8px;
}

main {
    grid-area: main;
}

.footer-wrapper {
    padding: 1px;
    background: linear-gradient(to left, rgba(107, 164, 75, 0), #6BA44B);
    height: 66.8px;
    margin-top: 5rem;
}

footer {
    padding: 2rem;
    background-color: white;
    grid-area: footer;
    height: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*--Navigation--*/
.glob-nav {
    width: 30%;
}

.glob-nav__lst {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-lst {
    list-style: none;
}

.nav-lst a, .link {
    padding: 0.5em;
    text-decoration: none;
    color: #707070
}

.nav-lst a:hover, .link:hover {
    color: black;
    text-decoration: underline;
}

.nav-lst a:focus, .link:focus {
    outline: solid 1px black;
    color: black;
}

/*intro section*/
.intro__sec {
    position: relative;
}

.intro__header {
    position: absolute;
    right: 10%;
    top: 10%;
}

.intro__img {
    position: absolute;
    left: 0;
    top: 10%;
    max-width: 100%;
}

#img2, #img3 {
    opacity: 0;
}

.intro__desc {
    position: absolute;
    right: 10%;
    top: 60%;
    text-align: center;
}

.intro__text {
    font-size: 3.8rem;
}

/*---CONTAINERS---*/

.full {
    min-height: 100vh;
}

.card__container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 700px;
    row-gap: 3rem;
    max-width: 1700px;
    margin: auto;
}

.card {
    padding: 3rem;
    max-width: 500px;
    margin: 0 auto;
}

.card--green {
    border: 1px solid #6BA44B;
}

.card img {
    max-width: 100%;
    max-height: 300px;
    margin: 2rem 0;
}

.card--small {
    width: 80%;
    margin: 2rem auto;
    padding: 3rem;
    transition: all 500ms linear;
}

.card--small:hover {
    background-color: #EDF6EA;
}

.card--small .flexi-cont {
    display: none;
}

.card--small img {
    max-width: 300px;
}

.card--heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnDiv .btn {
    margin: 0 1rem;
}

.admin-nav {
    margin: auto;
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

.admin-nav li {
    padding: 1rem;
    background-color: #EDF6EA;
    width: 25%;
    border: #6BA44B solid 1px;
    list-style: none;
    text-align: center;
    border-radius: 6px 6px 0px 0px;
}

.admin-nav a {
    display: block;
    height: 100%;
    width: 100%;

}

.admin-nav-li--active {
    border-bottom: none !important;
    background-color: white !important;
}

.center-box {
    border: solid 1px #6BA44B;
    border-top: none;
    margin: 0 auto 2rem auto;
    width: 90%;
    max-width: 800px;
    padding: 2rem;
}

.center-heading {
    margin: 2rem auto;
    width: 90%;
    max-width: 800px;
}

.form {
    width: 100%;
}

.form label {
    margin-top: 1rem;
}

.form p {
    margin: 1rem 0;
}

.form--green input, .form--green textarea {
    width: 100%;
    padding: 0.5rem;
    border: #6BA44B solid 1px;
    margin-bottom: 1rem;
}

.form--green input:focus, .form--green textarea:focus {
    outline: #6BA44B solid 2px;
}

.btn {
    font-family: 'Fuzzy Bubbles', cursive;
    padding: 1rem;
}

.form .btn {
    width: 40% !important;
}

.btn--white {
    border: #6BA44B solid 1px;
    background-color: white;
}

.btn--green {
    background-color: #EDF6EA;
    border: #6BA44B solid 1px;
}

.btn--green:hover, .btn--white:hover {
    background-color: #6BA44B;
    transform: translate(-1px, -1px);
}

.btn--green:focus, .btn--white:focus {
    background-color: #6BA44B;
    transform: translate(-1px, -1px);
}

#user-table {
    width: 100%;
}

#user-table tr:nth-child(even) {
    background-color: #EDF6EA;
}

/*PORTFOLIO*/
.web-container, .single-post {
    margin: 5rem auto;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3rem;
    padding: 8rem 5rem;
    max-width: 1700px;
}

.web-container:nth-child(even) {
    width: 97%;
    grid-template-areas:
        "desc img";
    border: #6BA44B solid 1px;
}

.web-container:nth-child(odd) {
    width: 100%;
    grid-template-areas:
        "img desc";
    background-color: #EDF6EA;
}

.web-img {
    grid-area: img;
    width: 100%;
    border: 1px solid black;
}

.web-content {
    width: 600px;
    color: #707070;
}

.web-link {
    color: #707070;
    text-decoration: none;
}

.web-link:hover {
    color: black;
    text-decoration: underline;
}

.web-link:focus {
    outline: solid 1px black;
    color: black;
}

.web-content-container {
    grid-area: desc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-center {
    margin: 5rem;
    text-align: center;

}

/*single page*/
.card--big {
    padding: 3rem;
    max-width: 700px;
    margin: 0 auto;
}

.card--big img{
    width: 100%;
}

.error{
    color: red;
}

.ok-message{
    color:green;
}