/* GLOBAL SETTINGS */
/*=================*/

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

html {
    height: 100%;
}



/* FONT STYLE */
/*============*/

h1, h2, h3, h4 {
    font-family: 'Fuzzy Bubbles', cursive;
}

h1 {
    font-size: 8.0rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 1.8rem;
}

p, a {
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
}

/* LAYOUT */
/*========*/

body {
    font-size: 3.8rem;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 66.4px auto 100px;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    width: 100%;
    border: 1px solid #6BA44B;
    padding: 2rem;
}

.glob-nav{
    width: 30%;
}

.glob-nav__lst {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}